Платежи:
</br>
<table>
    <tr>
	<th>Категория</th>
	<th>Расход</th>
	<th>Доход</th>
    </tr>
    
<% @cash.payments.each do |payment| %>
<tr>
    <td><%= payment.name%></td>
    <td><%= number_with_precision(payment.summa, :precision => 2)      if payment.summa > 0 %>  </td>
    <td><%= number_with_precision(payment.summa*(-1), :precision => 2) if payment.summa < 0 %>  </td>
</tr>
<% end %>
</table>
