<%= form_tag @cash, :method => :get, :remote => true   do %>

 <div class="field">
    Категория:
    <%= select_tag :category_id, options_for_select(@categories)  %>
    Сумма:
    <%= text_field_tag :summa, (number_with_precision(0, :precision => 2) || 0) %>
 </div>
 
 <div class="actions">
    <%= submit_tag "Добавить"  %>
  </div>
<% end %>